<div class='popup-content'>
	<table>
		<tbody>
			<tr dojoattachpoint="congressRow" class="popup-row" data-tooltip="Click to zoom">
				<td class="field-name">Congress</td>
				<td dojoattachpoint="congressNode"></td>
			</tr>
			<tr dojoattachpoint="senateRow" class="popup-row" data-tooltip="Click to zoom">
				<td class="field-name">State Senate</td>
				<td dojoattachpoint="senateNode"></td>
			</tr>
			<tr dojoattachpoint="houseRow" class="popup-row" data-tooltip="Click to zoom">
				<td class="field-name">State House</td>
				<td dojoattachpoint="houseNode"></td>
			</tr>
			<tr dojoattachpoint="schoolRow" class="popup-row" data-tooltip="Click to zoom">
				<td class="field-name">State School Board</td>
				<td dojoattachpoint="schoolNode"></td>
			</tr>
			<tr dojoattachpoint="precinctRow" class="popup-row" data-tooltip="Click to zoom" style="display: none;">
				<td class="field-name">Voting Precinct</td>
				<td dojoattachpoint="precinctNode"></td>
			</tr>
		</tbody>
	</table>
</div>