<div>
    <h4>${title}</h4>
    <form data-dojo-attach-point='formGeocode'>
        <table>
            <tr>
                <td class="label-cell">
                    <!-- the inner div is to control the width of the column -->
                    <div class="label-cell-inner">
                        Address</div>
                </td>
                <td class="text-box-cell">
                    <input data-dojo-attach-point="txtAddress" type="text" id="${id}_inputAddress"
                        class="text-box" value='' />
                </td>
            </tr>
            <tr>
                <td class="label-cell">
                    Zip
                </td>
                <td class="text-box-cell">
                    <input data-dojo-attach-point="txtZone" type="text" id="${id}_input_zone"
                        class="text-box" value="" />
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="btn-cell">
                    <button type="submit" data-dojo-attach-point="btnGeocode" class="btn btn-default">Find</button>
                    <span data-dojo-attach-point='errorMsg' class="error-msg">No Match Found!</span>
                </td>
            </tr>
        </table>
    </form>
</div>
