<div>
    <h4>${title}</h4>
    <form data-dojo-attach-point='formGeocode'>
        <table>
            <tr>
                <td class="label-cell">
                    <!-- the inner div is to control the width of the column -->
                    <div class="label-cell-inner">
                        Address</div>
                </td>
                <td class="text-box-cell">
                    <div data-dojo-attach-point="txtAddress"
                        data-dojo-type="dijit/form/ValidationTextBox"
                        data-dojo-attach-event='keyup: _checkEnter'
                        class="text-box" trim="true" propercase="false" value='' placeholder="optional">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label-cell">
                    Zip
                </td>
                <td class="text-box-cell">
                    <div data-dojo-attach-point="txtZone" class="text-box"
                        data-dojo-attach-event='keyup: updateMagicZoom'
                        data-dojo-type="dijit/form/ValidationTextBox"
                        value=""></div>
                    <div class="">
                    	<div id="magic-zoom"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="btn-cell">
                    <button type="submit" data-dojo-attach-point="btnGeocode"
                        data-dojo-type="dojox/form/BusyButton"
                        class="btn"
                        busyLabel="Locating..." disabled>
                        Find
                    </button>
                    <!-- <button class="find-btn" type="submit" data-dojo-attach-point="btn_geocode">Find</button> -->
                    <span data-dojo-attach-point='errorMsg' class="error-msg">No Match Found!</span>
                </td>
            </tr>
        </table>
    </form>
</div>
