<div>
    <table>
        <tbody>
            <tr data-dojo-attach-point="congressRow" class="popup-row">
                <td class="field-name">Congress</td>
                <td data-dojo-attach-point="congressNode"></td>
            </tr>
            <tr data-dojo-attach-point="senateRow" class="popup-row">
                <td class="field-name">State Senate</td>
                <td data-dojo-attach-point="senateNode"></td>
            </tr>
            <tr data-dojo-attach-point="houseRow" class="popup-row">
                <td class="field-name">State House</td>
                <td data-dojo-attach-point="houseNode"></td>
            </tr>
            <tr data-dojo-attach-point="schoolRow" class="popup-row">
                <td class="field-name">State School Board</td>
                <td data-dojo-attach-point="schoolNode"></td>
            </tr>
            <tr data-dojo-attach-point="precinctRow" class="popup-row" style="display: none;">
                <td class="field-name">Voting Precinct</td>
                <td data-dojo-attach-point="precinctNode"></td>
            </tr>
        </tbody>
    </table>
</div>
