@import url("../agrc/themes/standard/map/BaseMap.css");
@import url("../agrc/themes/standard/map/BaseMapSelector.css");
@import url("../agrc/themes/standard/layer/OpacitySlider.css");
@import url("../ltgov/css/FindLocation.css");
@import url("../ltgov/css/PopupContent.css");
@import url("../bootstrap/bootstrap_twipsyonly.css");
@import url("../ltgov/css/MagicZoom.css");

.districts-map #map-div {
	height: 100%;
	width: 100%;
	border: 1px solid #E6E7E8;
}
.districts-map .slider-container {
	width: 200px;
}
.districts-map .full-extent-button-icon {
	height: 25px !important;
}
#blocks-zoom-msg, #precincts-msg, .districts-map a, .districts-map .smaller-text {
	font-size: small;
}
.districts-map .disabled-text {
	color: #838484;
}
.districts-map .visible {
	display: inline !important;
}
.districts-map .hidden {
	display: none;
}
.districts-map .opacity-slider {
	margin-left: -4px;
}
.districts-map a[href="#"] {
	background-color: transparent;
}
.btn {
	color: #4D4D4D;
	font-family: "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	margin: 2px 0;
	float: left;
}
.btn-container {
	margin-top: 9px;
}
#sidebar-right, #main {
	height: 515px;
}
/* dialog */
.claro .dijitDialogTitleBar {
	background-color: #4D4D4D;
	background-image: none;
	color: white;
	border-width: 0;
}
.claro .dijitDialogCloseIcon {
	top: 7px;
}
.claro .dijitDialogPaneContent {
	border-width: 0;
	background-color: #E6E7E8;
}
.pdf-dialog-sizer {
	width: 500px;
	height: 350px;
	overflow: auto;
}
.pdf-dialog .top-header {
	margin-top: 0;
}
.pdf-dialog table {
	width: 100%;
}
.pdf-dialog td {
	vertical-align: top;
	padding: 2px;
}
.pdf-dialog .link-sizer {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #D6D6D6;
	border: solid 1px #BFBFBF;
}
.pdf-dialog .link-sizer:hover {
	border-color: #A9A9A9;
}
.pdf-dialog a {
	text-decoration: none !important;
}
*:focus {
	outline: none;
}
.more-info-sizer {
	width: 600px;
}
.more-info-btn {
	left: 50%;
	position: relative;
	margin-left: -75px;
}
.more-info-btn.dijitButton .dijitButtonNode{
	width: 150px;
}
.top-paragraph {
	margin-top: 5px;
}
/* page hacks */
#footer {
	margin-top: 0 !important;
}
#main {
	padding: 0 0 2px 0 !important;
	width: 632px !important;
}
#breadcrumb {
	margin-bottom: 5px !important;
	width: 1013px;
}
.districts-map label {
	display: inline !important;
}
.districts-map p, .districts-map label, .districts-map .dijitButtonText {
	font-size: 1.05em !important;
	line-height: 1.5em;
}
.dijitDialogTitle {
	font-size: 1.3em !important;
}
h4 {
	font-size: 1.3em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 10px 0;
}
body {
	color: #4D4D4D;
}
a:visited {
	color: #7C4217;
	text-decoration: underline;
}
a:link {
	color: #522300;
	text-decoration: underline;
}
table a {
	line-height: 1.5em;
}