.popup-content .field-name {
	font-weight: bold;
}
.popup-content table {
	width: 100%;
	border-collapse: collapse;
}
.popup-content {
	font-family: "Myriad Pro","Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
.popup-content tr:hover {
	background-color: #E6E7E8;
	cursor: pointer;
}
.popup-content td {
	padding: 2px;
}
